//colours
$grey: #333333;

//nav colours
$nav-background: $grey;
$nav-text-color: white;
$nav-bar-text: #f55d3e;
$nav-link-active: #ff220c;

// clock variables
$clock-text-color: white;
$clock-bg-color: #F55D3E;
$clock-border-color: #FF220C;
