.top-bar, .top-bar ul {
  background-color: $nav-background;
  color: $nav-bar-text;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }
  .menu > .menu-text > a {
    color: $nav-bar-text;
    display: inline;
    padding: 0;
  }
  .active-link {
    font-weight: bold;
    color: $nav-bar-text;
  }
}

#link {
  color: $nav-bar-text;
}
